h2 {
    color: red;
}
img {
    width: 300px;
    height: 200px;
}

h1 {
    color:red
}
.center {
      margin-left:auto;
      margin-right:auto;

      width:70%;

      background-color:#51aa8c;
   }
